@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Light_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Regular_Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-ExtraBold_Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Thin_Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Marianne", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f4f5f7;
  color: #242526;
}

ul {
  list-style: inside;
  position: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

table tr {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.modal-backdrop {
  background-color: #585765;
}

.modal-backdrop.show {
  opacity: 0.5;
}

h2 {
  margin-top: 2rem;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

@layer components {
  input,
  textarea,
  select {
    @apply focus:outline-none focus:ring-0 !important;
  }

  .stats-card {
    @apply flex items-center justify-between gap-4 overflow-hidden rounded-lg bg-white px-4 py-5 shadow transition-shadow hover:shadow-md sm:p-6;
  }

  .stats-card-grid {
    @apply mt-5 grid grid-cols-4 gap-5;
  }

  .stats-card-disabled {
    @apply transform-none hover:shadow;
  }

  .stats-card-wrapper {
    @apply flex h-full flex-1 flex-col justify-between;
  }

  .stats-card-title {
    @apply truncate text-sm font-medium text-gray-500;
  }

  .stats-card-value {
    @apply mt-1 flex w-full items-center justify-between gap-2 text-3xl font-semibold;
  }

  .stats-card-value span {
    @apply text-lg font-medium;
  }

  .stats-card-arrow {
    @apply flex-none text-xl text-brand-grey;
  }

  .footer a {
    @apply text-brand-grey transition-colors hover:text-snu-purple-300;
  }
}
