@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Light_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Regular_Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-ExtraBold_Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Thin_Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  background-color: #f4f5f7;
  font-family: "Marianne", sans-serif;
}

ul {
  list-style: none;
  position: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

table tr {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.image-input {
  height: 100px;
  min-width: 150px;
  background: #f3f3f3 url("./assets/image.svg") center no-repeat;
  background-size: 50%;
  border: 2px solid #eee;
  margin-top: 10px;
  cursor: pointer;
}

.container {
  max-width: 1270px;
}

.form-control {
  font-size: 16px;
}

.form-control::placeholder {
  color: #9fa6b2;
  font-size: 16px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #aaa;
}

@media print {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}

.modal-backdrop {
  background-color: #585765;
}

.modal-backdrop.show {
  opacity: 0.5;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}
