@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

* {
  font-family: Ubuntu, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  button {
    padding: 0.5em 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5145cc;

    color: white;
    font-size: 1rem;
    font-weight: 700;

    border: 2px solid #5145cc;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;

    opacity: 1;
    cursor: pointer;
  }
  button.loading {
    color: transparent;
  }
  button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  summary::marker {
    color: #a1a09c;
  }

  .wrapper {
    @apply max-w-6xl mx-auto p-4;
  }
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.show-button-on-hover:hover .button-container {
  opacity: 1;
  pointer-events: initial;
}

.show-button-on-hover .button-container {
  opacity: 0;
  pointer-events: none;
}

/*

SLATEJS

*/

body {
  margin: 0;
}

#text-editor p {
  margin: 0;
}

#text-editor pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

#text-editor :not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

#text-editor img {
  max-width: 100%;
  max-height: 20em;
}

#text-editor blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

#text-editor blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

#text-editor h3 {
  font-size: 1.2em;
}

#text-editor table {
  border-collapse: collapse;
}

#text-editor td {
  padding: 10px;
  border: 2px solid #ddd;
}

#text-editor iframe {
  width: 100%;
  border: 1px solid #eee;
}

#text-editor [data-slate-editor] > * + * {
  margin-top: 1em;
}

#text-editor [data-slate-editor] h1 {
  font-size: 2em;
  font-weight: bold;
}

#text-editor [data-slate-editor] h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#text-editor ul {
  list-style: initial;
  margin: initial;
  padding: initial;
}

#text-editor ul li {
  margin-left: 2rem;
}

#text-editor ol {
  list-style: decimal;
  margin: initial;
  padding: initial;
}

#text-editor ol li {
  margin-left: 2rem;
}

#text-editor-metadata-input::after {
  content: "(Ce lien n'apparaitra pas dans l'article publié)";
  position: absolute;
  top: 2rem;
}

.debug * {
  border: 2px solid black;
}

.with-emoji {
  font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji", -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important ;
}
