@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100vh;
  width: 100%;
  display: flex;
}

* {
  font-family: Ubuntu, sans-serif;
}

@layer base {
  button {
    padding: 0.5em 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5145cc;

    color: white;
    font-size: 1rem;
    font-weight: 700;

    border: 0;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;

    opacity: 1;
    cursor: pointer;
  }
  button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  summary::marker {
    color: #a1a09c;
  }
}
/*

BREADCRUMB

*/

#breadcrumb ul {
  padding: 0;
  font-size: 0;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
}
#breadcrumb li {
  display: inline-block;
}
#breadcrumb ul a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#breadcrumb a {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  background: #eee;
  text-decoration: none;
  color: #555;
  padding: 7px 25px 7px 10px;
  transform-style: preserve-3d;
}
#breadcrumb a:after,
#breadcrumb a:before {
  position: absolute;
  content: "";
  height: 0;
  width: 1px;
  top: 50%;
  margin-top: -24px;
  border-right: 1px solid #555;
  border-left-color: transparent !important;
}
#breadcrumb a:before {
  left: -27px;
  border: 24px solid #555;
  transform: translateZ(-1px);
}
#breadcrumb a:after {
  left: -26px;
  border: 24px solid #eee;
  transform: translateZ(-1px);
}
/* ACTIVE STYLES */
#breadcrumb a.active {
  text-decoration: underline;
}
/* HOVER STYLES */
#breadcrumb a:hover {
  text-decoration: underline;
}

/*

SLATEJS

*/

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

iframe {
  width: 100%;
  border: 1px solid #eee;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}

[data-slate-editor] h1 {
  font-size: 2em;
  font-weight: bold;
}

[data-slate-editor] h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.debug * {
  border: 2px solid black;
}
