@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Light_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Regular_Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-ExtraBold_Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Thin_Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"), url("./fonts/Marianne/Marianne-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bodyColor: #F9F6F2;
}

body {
  font-weight: 400;
  background-color: var(--bodyColor);
  font-family: "Marianne", sans-serif;
  /* position: fixed;  */
}

ul {
  list-style: none;
  position: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

table tr {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.image-input {
  height: 100px;
  min-width: 150px;
  background: #f3f3f3 url("./assets/image.svg") center no-repeat;
  background-size: 50%;
  border: 2px solid #eee;
  margin-top: 10px;
  cursor: pointer;
}

.container {
  max-width: 1270px;
}

.form-control {
  font-size: 16px;
}

.form-control::placeholder {
  color: #9fa6b2;
  font-size: 16px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #aaa;
}

@media print {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}

.modal-backdrop {
  background-color: #585765;
}

.modal-backdrop.show {
  opacity: 0.5;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.scrollbar-x::-webkit-scrollbar {
  height: 10px;
  border: 2px solid #fff;
  background: rgb(249 250 251);
  border-radius: 10px;
}

.scrollbar-x::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: #d5d5d5;
  border-radius: 10px;
}

.custom-select::after {
  content: "a";
  right: 11px;
  top: 6px;
  position: absolute;
  pointer-events: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
