* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img.bg {
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  z-index: 1;
}

.text-center {
  color: #444;
  font-size: 18px;
}

.l2 {
  position: fixed;
  top: 390px;
  left: 200px;
}
.l3 {
  position: fixed;
  top: 370px;
  left: 200px;
}
.l4 {
  position: fixed;
  top: 340px;
  left: 200px;
}

.text-date {
  margin-top: 20px;
}

#autotestPCR > .name {
  position: fixed;
  left: 105px;
  top: 560px;
}

#autotestPCR > .parent1FirstName {
  position: fixed;
  left: 165px;
  top: 283px;
}
#autotestPCR > .parent1LastName {
  position: fixed;
  left: 165px;
  top: 318px;
}
#autotestPCR > .parent2FirstName {
  position: fixed;
  left: 165px;
  top: 450px;
}
#autotestPCR > .parent2LastName {
  position: fixed;
  left: 165px;
  top: 485px;
}
#autotestPCR > .consentment-true {
  position: fixed;
  left: 119px;
  top: 596px;
}
#autotestPCR > .consentment-false {
  position: fixed;
  left: 119px;
  top: 771px;
}

#imageRight > .name {
  position: fixed;
  left: 490px;
  top: 478px;
}
#imageRight > .parent1FirstName {
  position: fixed;
  left: 165px;
  top: 263px;
}
#imageRight > .parent1LastName {
  position: fixed;
  left: 165px;
  top: 298px;
}
#imageRight > .parent2FirstName {
  position: fixed;
  left: 165px;
  top: 393px;
}
#imageRight > .parent2LastName {
  position: fixed;
  left: 165px;
  top: 428px;
}
#imageRight > .consentment-true {
  position: fixed;
  left: 119px;
  top: 516px;
}
#imageRight > .consentment-false {
  position: fixed;
  left: 119px;
  top: 581px;
}
