* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img.bg {
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  z-index: 1;
}

.text-center {
  color: #444;
  font-size: 18px;
}

.l2 {
  position: fixed;
  top: 390px;
  left: 200px;
}
.l3 {
  position: fixed;
  top: 370px;
  left: 200px;
}
.l4 {
  position: fixed;
  top: 340px;
  left: 200px;
}

.text-date {
  margin-top: 20px;
}
