* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img.bg {
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: relative;
  z-index: -1;
}

.container {
  z-index: 1;
}

.text-center {
  color: #444;
  font-size: 18px;
}

.l2 {
  position: absolute;
  top: 390px;
  left: 200px;
}
.l3 {
  position: absolute;
  top: 370px;
  left: 200px;
}
.l4 {
  position: absolute;
  top: 340px;
  left: 200px;
}

.text-date {
  margin-top: 20px;
}

#autotestPCR > .name {
  position: absolute;
  left: 105px;
  top: 557px;
}

#autotestPCR > .parent1FirstName {
  position: absolute;
  left: 170px;
  top: 283px;
}
#autotestPCR > .parent1LastName {
  position: absolute;
  left: 170px;
  top: 318px;
}
#autotestPCR > .parentPhone {
  position: absolute;
  left: 550px;
  top: 353px;
}
#autotestPCR > .parent2FirstName {
  position: absolute;
  left: 170px;
  top: 449px;
}
#autotestPCR > .parent2LastName {
  position: absolute;
  left: 170px;
  top: 484px;
}
#autotestPCR > .consentment-true {
  position: absolute;
  left: 124px;
  top: 591px;
}
#autotestPCR > .consentment-false {
  position: absolute;
  left: 124px;
  top: 764px;
}

#imageRight > .name {
  position: absolute;
  left: 490px;
  top: 478px;
}
#imageRight > .parent1FirstName {
  position: absolute;
  left: 170px;
  top: 265px;
}
#imageRight > .parent1LastName {
  position: absolute;
  left: 170px;
  top: 300px;
}
#imageRight > .parent2FirstName {
  position: absolute;
  left: 170px;
  top: 393px;
}
#imageRight > .parent2LastName {
  position: absolute;
  left: 170px;
  top: 428px;
}
#imageRight > .consentment-true {
  position: absolute;
  left: 124px;
  top: 513px;
}
#imageRight > .consentment-false {
  position: absolute;
  left: 124px;
  top: 577px;
}
