env:
  SUBFOLDER_NAME: api
  APP_NAME: snu-api
  ENVIRONMENT_NAME: snu-api

  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  SLACK_COLOR: '#3278BD'
  SLACK_ICON_EMOJI: ':package:'
  SLACK_USERNAME: Github
  MSG_MINIMAL: true
  SLACK_FOOTER: ''

name: Test & Deploy API

on:
  push:
    branches:
      - main
    paths:
      - api/**
  pull_request:
    paths:
      - api/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1

      - name: Node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      
      - name: Start MongoDB 4.0
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: '4.0'
      
      - name: Install packages
        working-directory: ${{ env.SUBFOLDER_NAME }}
        run: npm install

      - name: Test and Send coverage
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          CI: true
          MONGO_URL: mongodb://localhost:27017/SampleDB
        with:
          workingDirectory: ${{ env.SUBFOLDER_NAME }}
          coverageCommand: npm run test --coverage

  deloy:
    needs: [test]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v1

      - name: Node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Create SSH key
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          sudo chmod 600 ~/.ssh/id_ed25519
          echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: Change ssh key file permissions
        run: |
          chmod go-rwx ~/.ssh/id_ed25519

      - name: Remove git folder
        run: |
          rm -rf .git

      - name: Push
        working-directory: ${{ env.SUBFOLDER_NAME }}
        run: |
          git init
          git config user.email "github.deployer@gmail.com"
          git config user.name "Github Deployer"
          git remote add cloudstaging "$CLEVER_CLOUD_GIT_REMOTE_STAGING"
          git remote add cloudprod "$CLEVER_CLOUD_GIT_REMOTE_PROD"
          git add .
          git commit -m "For deploy"
          git push -f -u cloudstaging master
          git push -f -u cloudprod master
        env:
          CLEVER_CLOUD_GIT_REMOTE_STAGING: ${{ secrets.CLEVER_CLOUD_GIT_REMOTE_API_STAGING }}
          CLEVER_CLOUD_GIT_REMOTE_PROD: ${{ secrets.CLEVER_CLOUD_GIT_REMOTE_API_PROD }}

      - name: Notification on failure
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Failed to deploy api

      - name: Notification on success
        if: ${{ success() }}
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: api deployed
