env:
  SUBFOLDER_NAME: api
  APP_NAME: snu-api
  ENVIRONMENT_NAME: snu-api

name: Build and deploy Production (API CleverCloud)

on:
  push:
    branches:
      - release_candidate_cc
    paths:
      - api/**
      - packages/**
  pull_request:
    paths:
      - api/**
      - packages/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Node 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Start MongoDB 4.0
        uses: supercharge/mongodb-github-action@v1.10.0
        with:
          mongodb-version: "4.0"

      - name: Install packages
        run: npm ci

      - name: Lint code
        working-directory: ${{ env.SUBFOLDER_NAME }}
        continue-on-error: true
        run: npm run lint

      - name: Build lib
        continue-on-error: false
        run: npm run build -w packages/lib

      - name: Test and Send coverage
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          CI: true
          MONGO_URL: mongodb://localhost:27017/SampleDB
        with:
          workingDirectory: ${{ env.SUBFOLDER_NAME }}
          coverageCommand: npm run coverage

  deploy:
    needs: [test]
    if: github.event_name == 'push' && github.ref == 'refs/heads/production'
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Node 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Build lib
        continue-on-error: false
        run: |
          npm ci -w packages/lib
          npm run build -w packages/lib
          rm packages/lib/.gitignore

      - name: Remove DSFR
        run: |
          rm -Rf packages/ds

      - name: Create SSH key
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          sudo chmod 600 ~/.ssh/id_ed25519
          echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: Change ssh key file permissions
        run: |
          chmod go-rwx ~/.ssh/id_ed25519

      - name: Remove git folder
        run: |
          rm -rf .git

      - name: Push
        run: |
          git init
          git config user.email "github.deployer@gmail.com"
          git config user.name "Github Deployer"
          git remote add cloudstaging "$CLEVER_CLOUD_GIT_REMOTE_STAGING"
          git remote add cloudprod "$CLEVER_CLOUD_GIT_REMOTE_PROD"
          git add packages ${{ env.SUBFOLDER_NAME }}
          find . -maxdepth 1 -type f -exec git add {} +  # Add first level files
          git commit -m "For deploy"
          git push -f -u cloudstaging master
          git push -f -u cloudprod master
        env:
          CLEVER_CLOUD_GIT_REMOTE_STAGING: ${{ secrets.CLEVER_CLOUD_GIT_REMOTE_API_STAGING }}
          CLEVER_CLOUD_GIT_REMOTE_PROD: ${{ secrets.CLEVER_CLOUD_GIT_REMOTE_API_PROD }}
